# Copiá este archivo a .env y completá con la cadena de conexión válida
DATABASE_URL=postgresql://vecinapp_1wwa_user:u2BRyCLlGjgkld5kPBnvyq78hBcNwKRW@dpg-d4f147vpm1nc73eklm4g-a.oregon-postgres.render.com/vecinapp_1wwa?sslmode=require