# Copiá este archivo a .env y completá con la cadena de conexión válida
DATABASE_URL=postgresql://vecinapp_db_w0sb_user:lDw0Atwu8OYnxWJxv1g6DYknvkn3ZFft@dpg-d4f0gj8dl3ps73b844ng-a.oregon-postgres.render.com/vecinapp_db_w0sb?sslmode=require
